@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Swiper styles */
@import "swiper/css/bundle";

:root {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  background: #0b0d17;
  color: white;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
}

.swiper-slide img {
  display: block;
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  object-position: center;
  user-select: none;
}
